* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    min-height: 100vh;
    position: relative;
}
.Btn_add {
    width: fit-content;
    margin-bottom: 20px;
    background-color: #2bc48a;
    padding: 5px 20px;
    color: #fff;
    display: flex;
    border-radius: 6px;
    text-decoration: none;
}
.Btn_add img {
    margin-right: 5px;
    height: 20px;
}
th {
    font-weight: 400;
    padding: 5px 30px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #2bc48a;
}
th {
    background-color: #2bc48a;
    color: white;
}
td{
    font-weight: 400;
    padding: 5px 30px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #2bc48a;
}
#update{
    background-color: rgb(96, 96, 252);
    border-radius: 999em;
}
#delete {
    background-color: red;
    border-radius: 999em;

}

